<html>

<head>

    <style>
        table {
            border-collapse: collapse;
            width: 75%;
        }
        
        th,
        td {
            text-align: left;
            padding: 8px;
        }
        
        tr:nth-child(even) {
            background-color: #f2f2f2
        }
        
        th {
            background-color: #4CAF50;
            color: white;
        }
        
        a:link,
        a:visited {
            background-color: #f44336;
            color: white;
            padding: 14px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }
        
        a:hover,
        a:active {
            background-color: red;
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script>
        const url = "http://localhost:1234/Querys";

        function saveChanges() {
            let obj = {};

            obj.queryId = $("#sId").text();
            obj.queryName = $("#queryName").val();
            obj.projectName = $("#projectName").val();
            obj.businessUnit = $("#businessUnit").val();
            obj.status = $("#status").val();
            obj.assignedTo = $("#assignedTo").val();
            obj.suggestion = $("#suggestion").val();
            obj.createdBy = $("#createdBy").val();

            $.ajax({
                method: 'PUT',
                url: url,
                data: obj,
                success: (data) => {
                    alert(data);
                }
            })

        }

        function findRecord() {
           // $("div:eq(0)").hide();
           // $("div").show(2000);

            $("div").hide();
            $("#d2").show(2000);
            
            const id = $(this).attr("eId");
            let tquery = url + "/" + id;
            $.get(tquery, (data) => {
                let query = JSON.parse(data);
                $("#sId").text(query.queryId);
                $("#queryName").val(query.queryName);
                $("#projectName").val(query.projectName);
                $("#businessUnit").val(query.businessUnit);
                $("#status").val(query.status);
                $("#assignedTo").val(query.assignedTo);
                $("#suggestion").val(query.suggestion);
                $("#createdBy").val(query.createdBy);
            })
        }

        function deleteRecord(){
                const id = $(this).attr("qId");
                let temp = url + "/" + id;
                $.ajax({
                    method : 'DELETE',
                    url : temp,
                    success : (data)=>{
                        alert(data);
                    }
                })
            
            }

        function showAddDiv() {
            $("div").hide(2000);
            $("div:last").show(2000);
        }

        function addChanges() {
            let obj = {};
            debugger;
            obj.queryId = $("#newId").val();
            obj.queryName = $("#newName").val();
            obj.projectName = $("#newProjectname").val();
            obj.businessUnit = $("#newBusinessUnit").val();
            obj.status = $("#newStatus").val();
            obj.assignedTo = $("#newAssignedTo").val();
            obj.sugesstion = $("#newSuggestion").val();
            obj.createdBy = $("#newCreatedby").val();
            $.post(url, obj, (data) => {
                alert(data);
                $("input").val("");
                $("div").hide(2000);
            })

        }

        function populateData() {

            $("div").hide();
            $("div:first").show(2000);
            $("table").find("tr:gt(0)").remove();

            $.get(url, (data) => {
                let array = JSON.parse(data);
                for (const query of array) {
                    const row = `<tr><td>${query.queryId}</td><td>${query.queryName}</td><td>${query.projectName}</td><td>${query.businessUnit}</td><td>${query.status}</td><td>${query.assignedTo}</td><td>${query.suggestion}</td><td>
                    ${query.createdBy}</td><td><a href="#" class="edit" eId = ${query.queryId}>Edit</a>
                        <a href="#" class="delete" qId = ${query.queryId}>Delete</a></tr>`
                    $("table").append(row);
                }
                $(".edit").click(findRecord);
                $(".delete").click(deleteRecord);
            })


        }

        function init() {
            //$("div:eq(1)").hide(2000);
            $("div:eq(0)").show(populateData);
           // $("a:eq(1)").click(showAddDiv);
            $("button:eq(0)").click(saveChanges);
            $("button:eq(1)").click(addChanges);
        }
        $(document).ready(init);
    </script>
</head>

<body>
    <h1>Query Management System Using RestAPI and NodeJs</h1>
  
    <div class="section">
        <table border="2">
            <tr>
                <th>Query ID</th>
                <th>Query Name</th>
                <th>Project Name</th>
                <th>Business Unit</th>
                <th>Status</th>
                <th>Assigned to</th>
                <th>Suggestions</th>
                <th>Created by</th>
                <th>Options</th>
            </tr>
        </table>
    </div>
    <div class="section" id="d2">
        <h2>Details of the Query</h2>
        <p>Query ID: <span id="sId"></span></p>
        <p>Query Name : <input id="queryName" /></p>
        <p>Project Name <input id="projectName" /></p>
        <p>Business Unit : <input id="businessUnit" /></p>
        <p>Status : 
            <select id="status">
                <option value="Completed">Completed</option>
                <option value="Not Completed">Not Completed</option>
            </select>
        </p>
        <p>Assigned to : <input id="assignedTo"></p>
        <p>Suggestions : <input id="suggestion"></p>
        <p>Created By <input id="createdBy" /></p>
        <p><button>Save Changes</button></p>
    </div>
    
</body>

</html>